* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: hsl(257, 40%, 49%);
    --botao-ativo: hsl(300, 69%, 71%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background: var(--cor-de-fundo) url(../images/bg-mobile.svg) no-repeat;
    background-size: cover;
    max-height: 80vh;
    display: flex;
    height: 100vh;
    justify-content: center;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    position: relative;
}

.fundo {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 40vh;
}

.container {
    height: 630px;
    width: 304px;
}

.logo-imagem {
    margin-bottom: 60px;
}

.logo-imagem .logo {
    width: 8rem;
    margin-top: 25px;
}

.logo-imagem .imagem {
    width: 304px;
    margin-top: 40px;
}

.titulo-texto {
    margin-top: 40px;
    text-align: center;
}

.titulo-texto .titulo {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 20px;
}

.titulo-texto .texto {
    line-height: 23px;
    color: #e7e5e5;
}

.titulo-texto .btn-registro {
    margin-top: 30px;
    width: 12rem;
    height: 2.5rem;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.527);
    cursor: pointer;
    color: var(--cor-de-fundo);
    transition: 0.6s;
}

.titulo-texto .btn-registro:hover {
    background-color: var(--botao-ativo);
    color: #fff;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.social a{
    margin: 0 .4rem;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    border-radius: 50%;
    outline: 1px solid #fff;
    padding: 0.5rem;
    transition: 0.6s
}

.social a:hover {
    background-color: #fff;
    color: var(--cor-de-fundo);
}